* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .logo {
  margin-left: auto; /* This will push the logo to the right */
}

header img {
  max-height: 100%; /* Ensure the logo does not exceed the height of the header */
}

.userpage {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.userpage a {
  padding: 0px 15px;
  text-decoration: none;
}

.box-left {
  position: sticky;
  height: 100%;
  border-top: 15px solid grey;
  width: 15%;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it's above other elements */
  background-color: #004666;
}

.menu-icon {
  background-color: #141313;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.menu-list {
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 0;
  background-color: #004666;
}

.menu-list a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
}

.menu-list a.active,
.menu-list a:hover {
  color: rgb(0, 166, 255);
}

main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  border: 1px solid gray;
}

.main-content {
  width: 85%;
  display: flex;
}

.content {
  flex: 1;
  padding: 10px;
  border: 15px solid grey;
  color: #000;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; /* Bật tính năng cuộn khi nội dung vượt quá kích thước */
}

.column {
  display: flex;
  flex-direction: column;
}

.news-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}

.news-item h2 a {
  color: black;
  text-decoration: none;
}

.news-item h2 a:hover {
  color: rgb(0, 166, 255);
}

.news-item p {
  margin: 0;
}

.content_schedule {
  margin: 80px auto;
  max-width: 800px;
  padding: 20px;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: auto; /* Bật tính năng cuộn khi bảng vượt quá kích thước */
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: auto;
}

.table-container th {
  background-color: #f2f2f2;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tbody tr:hover {
  background-color: #f1f1f1;
}

/* footer section starts */
#footer {
  bottom: 0;
  font-family: BalloExtra;
  height: auto;
  width: 100%;
  background-color: rgb(0, 170, 255);
  display: flex;
  border-top: 1px solid #000;
}

.box_footer {
  display: flex;
}

.footer-left,
.footer-right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 1px solid black;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#footer h3 {
  font-family: BalooExtra;
  text-align: start;
  color: var(--yellow-color);
}

#footer p,
#footer a {
  font-family: Barlow;
  color: #ffff;
  text-align: start;
}

#footer a {
  text-decoration: none;
  display: block;
  line-height: 1.8rem;
}

#footer .card_1 {
  width: 100%;
}

#footer .card_2 {
  width: 100%;
}

.card_1 {
  margin: 0;
  margin-top: 10px;
}

.card_2 {
  margin: 0;
  margin-top: 10px;
}

.card_1 div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card_2 div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.card_2 i,
.card_1 i {
  margin-right: 10px;
  color: black;
}

/* footer section ends */
.spct {
  text-align: center;
}

.schedule {
  display: flex;
}

.h10 {
  margin-left: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-left: 50px;
  margin-top: 30px;
}

th,
td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

#form {
  width: 100%;
}

th {
  font-size: 15px;
  color: gray;
}

td {
  font-size: 12px;
}
