* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.userpage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.userpage a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  display: flex;
}

.box-left {
  position: fixed;
  height: 100%;
  width: 15%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #004666;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 0;
  background-color: #004666;
}

.menu-list a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: white;
}

.menu-list a.active,
.menu-list a:hover {
  color: rgb(0, 166, 255);
}

.content {
  padding-left: 15%;
  flex: 1;
  padding: 10px;
  min-height: 700px;
  overflow: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.news-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}

.news-item h2 a {
  color: black;
  text-decoration: none;
}

.news-item h2 a:hover {
  color: rgb(0, 166, 255);
}

.news-item p {
  margin: 0;
}

/* Footer styles */

#footer {
  background-color: black;
  color: white;
  display: flex;
  border-top: 1px solid #000;
}

.box_footer {
  display: flex;
}

.footer-left,
.footer-right {
  margin: 10px;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 1px solid white;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#footer h3 {
  font-family: "BalloExtra", sans-serif;
  text-align: start;
  color: var(--yellow-color);
}

#footer p,
#footer a {
  font-family: "Barlow", sans-serif;
  text-align: start;
}

#footer a {
  text-decoration: none;
  display: block;
  line-height: 1.8rem;
  color: white;
}

#footer .card_1,
#footer .card_2 {
  width: 100%;
}

.card_1,
.card_2 {
  margin: 0;
  margin-top: 10px;
}

.card_1 div,
.card_2 div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#footer .card_1 i,
#footer .card_2 i {
  margin-right: 10px;
  color: white;
}

/* Additional Styles */

.logo {
  height: 80px;
  background-color: white;
  align-items: center;
}

.menu-icon {
  background-color: #141313;
  padding: 10px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.h10 {
  margin-left: 5px;
}
